        <div class="nav">
            <a href="/" class="card">
                        <img src="{{ url_for('static', filename='images/icon_home.svg') }}" alt="Home">
                HOME
            </a>
            <a href="/usuarios" class="card">
                        <img src="{{ url_for('static', filename='images/icon_users.svg') }}" alt="Usuários">
                        <span>nome do usuario que fez o login</span>
            </a>
        </div>


     <!-- {%include 'nav.html'%} -->