{% extends 'base.html' %}
{% block content %}
    <div class="formulario">
        <h2>Olá, sou William Kerpen</h2>
        <p>
            Sou estudante de Análise e Desenvolvimento de Sistemas.
            Se você tem uma oportunidade de trabalho ou estágio, me envie um e-mail:
            <a href="mailto:williamkerpen@hotmail.com">williamkerpen@hotmail.com</a>
        </p>
        <p>
            <a href="https://github.com/WilliamKerpen" target="_blank">Meu GitHub</a>
        </p>
    </div>
{% endblock %}